@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    padding: 54px 0;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 155px;
}



.navbar-links ul {
    display: flex;
    align-items: center;

}

/*.navbar-links .but .btn {
    display: flex;

} 
.navbar-links {
    display: flex;
}*/

.navbar-links li a {
    margin-right: 18px;
    font-size: 16px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s ease-in;
    position: relative;
    text-decoration: none;
}

.navbar-links li a:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #00a650;
    transition: width 0.3s ease-out
}
.navbar-links li a:hover:after,
.navbar-links li a:focus:after {
    width: 100%;
}

.navbar-links li a:hover {
    color: #E6A859;
}

.btnt_one_sec {
    width: 117px;
    padding: 10px 10px 10px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #FFFFFF;
    background-color: #E6A859;
    transition: 0.3s ease-in;
}

.btnt_one_sec:hover {
    background-color: #d38420;
}

.mask_group {
    position: relative;
    margin-top: 152px;

}

.mask_group .circl_bag img {
    position: absolute;
    width: 164px;
    height: 164px;
    left: -90px;
}

.mask_group .content_inform {
    display: flex;
    justify-content: space-around;

}

.content_inform {
    position: relative;
    /*margin-left: 95px;*/
}

.content_text h1 {
    font-weight: 700;
    font-size: 55px;
    line-height: 65px;
    font-family: 'Raleway', sans-serif;
    margin-left: 5px;
}

.content_text h1 span {
    color: #E2B84C;
}

.content_text__subtitle p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    color: #8D8180;
    margin-left: 5px;
    padding-top: 40px;
}

.ready__suptitle p {
    margin-left: 40px;
    color: #E2B84C;
    margin-top: 50px;
}


.ready__suptitle p:before {
    position: absolute;
    content: "";
    width: 25px;
    height: 1px;
    left: 210px;
    top: 300px;
    background-color: #E2B84C;
}

.container_img_one {
    position: relative;
}

.container__img {
    border-radius: 26px 0 0 0;
    position: absolute;
    left: -372px;
    top: -35%;
    background-image: url("../img/Plaza.png");
    background-repeat: no-repeat;
    width: 612px;
    height: 773px;
}

.vector_right {
    width: 19px;
    height: 8px;
    margin-left: 6px;
}

.img_content_btn {
    position: relative;
}

.bnt_two {
    padding: 31px 30px;
    width: 323px;
    text-align: center;
    background-color: #F9F9F9;
    color: #534847;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 687px;
    transition: 0.3s ease-in;
}


.bnt_two:hover {
    background-color: #F8F8FF;
}

.vector_cube {
    width: 225px;
    height: 225px;
    margin-top: 115px;
}



.circle_mini {
    display: flex;
    justify-content: end;
}

.vector_img_mini {
    width: 103px;
    height: 103px;
    margin-top: 96px;
}

.worked {
    margin-top: 200px;
}


.worked_text {
    display: flex;
    justify-content: space-around;
}

.worked_title h1 {
    font-size: 40px;
    width: 340px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 47px;
    color: #534847;
}

.worked_subtitle {
    position: relative;
    font-size: 16px;
    color: #E2B84C;
    font-family: 'Poppins', sans-serif;
    padding-top: 21px;
    margin-left: 40px;
}

.worked_subtitle:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    left: 171px;
    background-color: #E2B84C;
    left: -36px !important;
    top: 33px;
}

.pargraph {
    margin-top: 70px;
}

.worked_paragraph_1 p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #8D8180;
}

.worked_paragraph_2 p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #8D8180;
    padding-top: 30px;
}

.and_worked {
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
}

.vektor_worked img {
    width: 59px;
    height: 204px;
}

.and_text p {
    margin-right: 100px;
    color: #E4A655;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

}



.mask_group_2 {
    position: relative;
    margin-top: 140px;
}

.mask_group_section_one {
    display: flex;

}


.mask_group_section_text {
    margin-left: 128px;
}

.mask_img_one {
    position: relative;
    left: 0;
    width: 651px;
    height: 498px;

}

.mask_group_section_pargraph h4 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #534847;
    line-height: 47px;
}

.mask_group_section_subtitle p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #8D8180;
    margin-top: 47px;
}

.mask_group_section_button {
    margin-top: 75px;
}

.bnt_group {
    width: 220px;
    background-color: #E6A859;
    padding: 12px 66px 11px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: 0.3s ease-in;
}

.bnt_group:hover {
    background-color: #d38420;
}


.gret_work {
    display: flex;
    margin-top: 75px;
    margin-left: 110px;

}

.gret_work_text h4 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #534847;
    line-height: 47px;
}

.gret_work_subtext p {
    width: 531px;
    color: #8D8180;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    padding-top: 38px;
}

.gret_work_btn {
    margin-top: 60px;
}

.btn_great {
    width: 220px;
    background-color: #E6A859;
    padding: 12px 66px 11px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: 0.3s ease-in;
}

.btn_great:hover {
    background-color: #d38420;
}

.great_img_work {
    position: relative;
    right: 0;
    margin-left: 50px;

}

.gret_work_img {
    width: 747px;
    height: 496px;
    position: relative;

}

.provide_paragraph h4 {
    text-align: center;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 35px;
}

.provide {
    margin-top: 97px;
}

.provide_section_img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 97px;

}

.one_img {
    text-align: center;
}


.one_img .one_img_text p {

    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin-top: 45px;
    color: #534847;
}

.one_img_subtitle p {
    padding-top: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8D8180;
    font-family: 'Poppins', sans-serif;
}

.projects_paragraph h4 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #534847;

}

.projects {
    margin-top: 143px;
}

.lawyers_img {
    width: 284px;
    height: 334px;
}



.projects_img_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;

}

.project_container {
    transition: 0.3s linear;
}

.project_container:hover {
    transform: translateY(-10px);
}





.projects_img_section img {
    margin-left: 45px;
}

.projects_img {
    position: relative;
}

.projects_img .project_btn {
    position: absolute;
    padding: 9px 12px 9px;
    top: 89%;
    left: 0;
    transform: translate(30%, -30%);
    width: 149px;
    background-color: #F9F9F9;
    color: #534847;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 16px;
    left: 0;
    transition: 0.3s linear;
}

.project_btn:hover {
    border-radius: 20px;
    background-color: #edf2f4;
}

.galelery_pargraph {
    padding-top: 82px;
}

.gallery {
    position: relative;
}

.gallery_background {
    width: 1300px;
    background-color: #F9F9F9;
    margin-top: 139px;
}

.galelery_pargraph_one h4 {
    font-weight: 700;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #534847;
}

.block_5 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.gallery_subtext_1 p {
    color: #E2B84C;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    padding-top: 20px;
}


.gallery_subtext_1 p:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    background-color: #E2B84C;
    left: -36px;
    top: 32px;
}

.gallery_subtext_2 p {
    width: 291px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #8D8180;
    font-size: 16px;
    line-height: 24px;
    color: #8D8180;
    padding-top: 122px;
}

.gallery_img {
    display: flex;
    justify-content: end;
}

.gallery_img_mask {
    background-image: url("../img/Mask Group_.png");
    background-repeat: no-repeat;
    width: 1120px;
    height: 527px;
    background-size: cover;
    margin: 57px 0 35px;
    /*margin-left: 179px;*/
}

.frame_block_svg {
    position: absolute;
    right: 0;
    top: 300px;
}


.footer {
    /*width: max-content;*/
    background-color: #282322;

}



.inform_block {
    display: flex;
    justify-content: space-around;

}

.inform_block_text {
    padding: 82px 0;
}

.inform_block_text h4 {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

}

.inform_block_text p {
    position: relative;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 317px;
    font-family: 'Poppins', sans-serif;
    padding-top: 53px;
}

.inform_block_text p:before {
    content: "";
    position: absolute;
    width: 37px;
    height: 1px;
    background-color: #E2B84C;
    left: -51px;
    top: 63px;
}

.inform_news {
    padding-top: 82px;
    margin-right: 165px;
}

.inform_news_pargraph h4 {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}

.inform_news_subtext p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 57px;
}

.inform_news_input input[type=text] {
    width: 289px;
    padding: 12px 35px;
    text-align: center;
    outline: none;
    margin-top: 3px;

}

::placeholder {
    color: #534847;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.sub {
    display: block;
    width: 289px;
    padding: 12px 104px 11px;
    margin-top: 17px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: #E6A859;
    transition: background-color 0.3s linear;
}

.sub:hover {
    background-color: #d38420;
}

.follow_inform {
    padding-top: 82px;
    margin-right: 193px;
}

.follow_paragraph h4 {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
}

.follow_icon_section li {
    display: flex;

}

.follow_list {
    margin-top: 57px;
}

.follow_list li .icon {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
    color: #ffffff;
    transition: 0.3s linear;
}

.follow_list li .icon:hover {
    color: #4671D5;
}

.camera_icon {
    fill: white;
    transition: 0.3s linear;
}

.camera_icon:hover {
    fill: #4671D5;
}

.follow_list li span {
    margin-left: 27px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 24px;
}

.follow_list span {
    transition: 0.3s linear;
}

.follow_list span:hover {
    color: #4671D5;
    cursor: pointer;
}

.inform_end {
    margin-top: 101px;
}

.inform_end_text p {
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;

}

.inform_end_menu {
    margin-top: 25px;
}

.menu_end {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_end li:not(:last-child) {
    margin-right: 48px;
}

.menu_end li a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s linear;
}

.menu_end li a:hover {
    color: #6D6552;
}

/*@media (min-width: 1400px) {
    .footer {
        width: 100%;
    }
*/
@media(max-width: 1300px) {
    .circl_bag img {
        display: none;
    }

    .content_inform {
        flex-direction: column;

    }

    .content_text {
        text-align: center;
    }

    .circle_mini img {
        display: none;
    }

    .vector_cube img {
        display: none;
    }

    .container__img {
        position: initial;


    }

    .container_img_one {
        position: initial;
        display: flex;
        justify-content: center;

    }

}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}

.toggle-button {
    position: relative;
}

.toggle-button {
    position: absolute;
    /*top: .75rem;*/
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: blue;
    border-radius: 10px;
}

@media (max-width: 1300px) {
    .navbar {
        flex-direction: column;

    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;

    }



    .navbar-links ul li {
        text-align: center;
        margin-bottom: 20px;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .ready__suptitle {
        margin-bottom: 20px;
    }

}

@media (max-width: 1420px) {
    .mask_group_section_one {
       display: block;
       justify-content: center;
       align-items: center;
       text-align: center;


}

.mask_img_one {
    margin-left: 90px;
}

.gret_work {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gret_work_img {
    padding-top: 70px;
}
}
    

@media (max-width: 1000px) {
    .vektor_worked img {
        display: none;
    }

    .worked_text {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
   
   .worked_title h1 {
    width: 600px;
   }

   .and_worked {
    justify-content: center;
   }

   .footer {
    width: max-content;
   }
    
}

@media (max-width: 800px) {
    .provide_section_img {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .provide_paragraph h4 {
        margin-left: 50px;
    }

    .one_img {
        margin-bottom: 20px;
        margin-left: 50px;
    }

    .one_img img {
        width: 100%;

    }

    .projects_img_section {
        flex-direction: column;

    }



    .projects_img_section .projects_img {
        margin-bottom: 20px;

    }

    .projects_paragraph h4{
        margin-left: 20px;
    }

    .frame_block {
        display: none;
    }
}

